name: Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: npm
    - run: npm ci
    - run: npm test
    - uses: dorny/conditional-unit-check@v1.0.1
      with:
        matrix:
          jobs: test
        condition: 'matrix.jobs.passed == true'
